site_name: Apunts del curs
site_description: Apunts de bases de dades.
site_author: Joan M.
theme:
  name: material
  font:
    text: 'Catamaran bold'
#  custom_dir: docs/overrides
  favicon: images/favicon.png
  extra_css:
    - stylesheets/extra.css
  language: ca
  logo: assets/images/logo.png
  features:
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - header.autohide
    - announce.dismiss
    - navigation.footer
    - navigation.indexes
    - navigation.sections
    - navigation.expand
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
  plugins:
    - typeset
    - search
  palette:
    # palette for dark mode
    - scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/weather-night
        name: Switch to light mode
    # palette for light mode
    - scheme: default
      primary: indigo
      accent: deep orange
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - tables
  - footnotes
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - toc:
      permalink: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.details
  - pymdownx.emoji:
  - pymdownx.highlight:
     anchor_linenums: true
     use_pygments: false
  - pymdownx.keys
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences
  - pymdownx.snippets

copyright: Copyright &copy; 2024 Joan M. 
# extra_css:
#  - assets/stylesheets/extra.css
extra:
  generator: false
  social:
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/

nav:
  - Inici: index.md
  - CFGS ASIX ICA0: 
    - Mòduls ICA0: ica0-Asix/ica0.md
    - MP02 Gestió de bases de dades: 
      - MP02: ica0-Asix/mp02/mp02.md
      - Unitat d'aprenentatge 1:
        - UA1 - Introducció a les bases de dades: ica0-Asix/mp02/ua1/0372-ua1-index.md
        - Nucli Formatiu 1: ica0-Asix/mp02/ua1/0372-ua1-nf1.md
        - Nucli Formatiu 2: ica0-Asix/mp02/ua1/0372-ua1-nf2.md
        - Nucli Formatiu 3: ica0-Asix/mp02/ua1/0372-ua1-nf3.md
        - Nucli Formatiu 4: ica0-Asix/mp02/ua1/0372-ua1-nf4.md
      - Unitat d'aprenentatge 2:
        - UA2 - Llenguatges SQL. DDL i DML: ica0-Asix/mp02/ua2/0372-ua2-index.md
        - Nucli Formatiu 1: ica0-Asix/mp02/ua2/0372-ua2-nf1.md
        - Nucli Formatiu 2: ica0-Asix/mp02/ua2/0372-ua2-nf2.md
        - Nucli Formatiu 3: ica0-Asix/mp02/ua2/0372-ua2-nf3.md
        - Nucli Formatiu 4: ica0-Asix/mp02/ua2/0372-ua2-nf4.md
      - Unitat d'aprenentatge 3:
        - UA3 - Assegurament de la informació: ica0-Asix/mp02/ua3/0372-ua3-index.md
        - Nucli Formatiu 1: ica0-Asix/mp02/ua3/0372-ua3-nf1.md
        - Nucli Formatiu 2: ica0-Asix/mp02/ua3/0372-ua3-nf2.md
